.#{$spd}

  .screen
    width: 100%
    height: 100%
    background: url(../img/monitor.svg) no-repeat 50%
    position: absolute
    background-size: contain


    &__content
      width: 92%
      height: 64%
      top: 4.2%
      left: 3.8%
      position: absolute
      overflow: hidden