.#{$spd}
  .scrollable-block
    position: relative
    width: 100%
    height: 100%
    margin: 0 auto

    &_monitor
      width: inherit
      height: inherit
    &__img
      width: inherit
      position: absolute
      top: 0
      left: 0
      transition-timing-function: linear
      transition-property: margin-top
      transition-duration: 4000ms